/* GLOBAL CSS */
body {
    font-family: 'Merriweather', serif;
    
}

img {
  max-width: 100%;  /*background image max width*/
}

.feature-bg {
    background: rgba(255,255,255,0.3); /*grey color*/
    width: 100vw; /*full width of the browser*/ /*on larger screen the bg will be 60% and on smaller screen the bg will be 100% see media query below*/
    border-radius: 10px; /*grey color*/
}

.feature-text {
    font-size: 2rem;
    line-height: 4rem; /*height of the lines*/
}

.header_img {
    min-height: 25vh; /*meaning the img will always be 25% of the viewbar height */
}

.card {
  margin-bottom: 20px;  
}

/* Welcome Section */
.card-text {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) { /*setting a media query to make the width of the bg to 60% on larger screens & we're connecting bootstrap breakpoints*/
    .feature-bg {
        width: 60vw; /*on larger screen the bg will be 60% and on smaller screen the bg will be 100%*/
    }
}

span {
    position: absolute;
    background: rgba(175, 169, 169, 0.6);
    height: 80px; /*making it into a circle*/
    width: 80px; /*making it into a circle*/
    line-height: 80px;
    border-radius: 100%; /*making it into a circle*/
    top: -40px;
    left: -40px;
    margin-left: 50%;
    font-size: 1.8rem;
}

.card {
    margin-bottom: 0; /*this reset the margin to zero with the larger view - since we wanted to add it when we had smaller screen bc they were layering right on top of one another*/
}